@import '../../../sass/mixin';
@import '../../../sass/color';
.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  .loginContainer {
    padding-top: 20px;
    text-align: left;
    Form {
      display: grid;
      grid-row-gap: 10px;
    }
    .link {
      @include link(rgba(0, 0, 0, 0.979), $primary-color);
    }
  }
}
