@import '../../sass/color';
@import '../../sass/mixin';
.userCommentContainer {
  padding: 10px;
  @include flex(row, flex-start, flex-start);
  .content {
    padding-left: 10px;
    .dateStyle {
      display: block;
      color: gray;
    }
  }
}
.bookContainer {
  width: 250px;
  min-height: 300;
  height: 300;
  margin-bottom: 5px;
  overflow: hidden;
  background-color: white;
  text-align: left;
  @include fontFamily();
  @media (max-width: $width) {
    width: 250px;
  }
  transition: box-shadow 0.5s;
  &:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .imageContainer {
    background-color: whitesmoke;
    width: 100%;
    z-index: -1;
    height: 250px;
    .image {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .detailsContainer {
    @include flex(column, auto, auto);
    padding: 5px;
    .title {
      color: $black;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 1px;
      display: block; /* or inline-block */
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: break-word;
      overflow: hidden;
      max-height: 4.5em;
      line-height: 1.5em;
    }
    .auther {
      @include textColor(0.9);
      font-size: 15px;
      letter-spacing: 1px;
      padding-bottom: 2px;
      display: block; /* or inline-block */
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: break-word;
      overflow: hidden;
      max-height: 4.5em;
      line-height: 1.5em;
    }
  }
  .iconContainer {
    flex: 1;
    @include flex(row, center, space-between);
  }
}

.bookDetailCardTempleteContainer {
  min-height: 100px;
  @include boxShadow();
  // background-color: aquamarine;
  .title {
    background-color: #f1f1f1;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    color: $black;
    padding: 5px;
  }
  .content {
    padding: 5px;
  }
}
