html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Sitka';
}
@font-face {
  font-family: 'Sitka';
  src: local('Sitka'), url(./fonts/SitkaB.ttc) format('tryetype');
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
