@import '../../sass/color';
@import '../../sass/mixin';

.loadingComponent {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40vh;
  h1 {
    color: $black;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
  }

  h1:after {
    position: absolute;
    content: '';
    -webkit-animation: Dots 2s cubic-bezier(0, 0.39, 1, 0.68) infinite;
    animation: Dots 2s cubic-bezier(0, 0.39, 1, 0.68) infinite;
  }

  .loader {
    margin: 5% auto 30px;
  }

  /* Dots */

  @-webkit-keyframes Dots {
    0% {
      content: '';
    }
    33% {
      content: '.';
    }
    66% {
      content: '..';
    }
    100% {
      content: '...';
    }
  }

  @keyframes Dots {
    0% {
      content: '';
    }
    33% {
      content: '.';
    }
    66% {
      content: '..';
    }
    100% {
      content: '...';
    }
  }
}
.notFoundPageContainer {
  @include flex(column, center, center);
  height: 80vh;
  .icon {
    font-size: 100px;
    color: $primary-color;
  }
  span {
    font-size: 16px;
    color: $black;
  }
  .message {
    font-size: 18px;
    font-weight: bold;
    color: $black;
  }
  @media screen and (max-width: $width) {
    .icon {
      font-size: 50px;
      color: $primary-color;
    }
    span {
      font-size: 14px;
    }
    .message {
      font-size: 14px;
    }
  }
}
